/* ----- PALETA DE COLORES ----- */
:root {
    --bg: rgb(239, 243, 242);
    --black: rgba(0, 0, 0,);
    --blackTransp: rgba(0, 0, 0,0.4);
    --grey: rgb(140, 140, 140);       
    --lightblue: rgb(70, 214, 250);    
    --blue: rgb(31, 110, 228);    
    --lightgreen: rgb(88, 230, 218);
    --green: rgb(78, 248, 121);
    --white: rgb(255, 255, 255);
    --red: rgba(253, 3, 3, 0.5);
}
/* ----- ALL Document ----- */
* {
    box-sizing: border-box;    
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;      
}

a {
    color: var(--bg);
    text-decoration: none;
}

a:visited {    
    color: var(--bg);
}
/* ----- HEADER ----- */
header {    
    display: grid;
    grid-template-columns: auto auto auto;    
    align-content: center;
    padding: 15px;
    background-color: var(--bg);
}

.section-logo { 
    padding: 10px;
    justify-self: right;  
    align-self: center;
}

.logo-img {
    display: block;
    width: 60px;    
    margin-left: auto;
    margin-right: auto;
}

.header-logo-nombre {
    align-self: center;
    text-align: start;
}

.logo-nombre { 
    font-weight: 700;      
    color: var(--black);
}

/* ----- CARRITO HEADER -----*/
.section-carrito {
    display: grid;
    grid-template-columns: auto auto;    
    align-content: center;
    padding: 15px;
    margin-right: 5rem;
} 
@media (max-width: 1400px) {
    .section-carrito {
        margin-right: 9rem;
    }
}

@media (max-width: 1100px) {
    .section-carrito {
        margin-right: 12rem;
    }
}

.carrito {
    justify-self: right;
    padding: 10px;    
 } 

.carrito-button{
    background-color: var(--lightblue);
    color: var(--white);
    padding: 16px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
} 

.carrito-button:hover{
    background-color: var(--lightgreen);
    border:none;
    cursor: pointer;    
} 

.carrito-image {
    width: 40px; 
    display: block;
    margin-left: auto;
    margin-right: auto;     
} 

.carrito-contador{    
    align-self: center;
}

.carrito-contador-texto {    
    font-size: large;
} 

/* ----- CARRITO CONTENEDOR -----*/
#container-all-carrito {
    display: none;
    position: absolute;
    background-color: var(--white);
    border: 3px solid var(--lightblue);
    border-radius: 15px;
    margin-top: 1rem;
    padding: 10px;
    z-index: 1000;
    width: 300px;
    max-height: 500px; 
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: var(--grey); 
    transition: 0.3s ease-in-out;
} 
@media (max-width: 450px) {
    #container-all-carrito {
        width: 70%;
    }
} 

#container-carrito {
    display: none;
}

#container-carrito::-webkit-scrollbar {
    width: 8px; 
} 

#container-carrito::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 4px;    
} 

#container-carrito::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey); 
} 

#ocultar-carrito {
    display: none;
    float: right;
    color: var(--grey);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;   
}  

#btns-carrito {
    display: flex;
    gap: 8px;
    cursor: pointer;  
} 

@media (max-width: 768px) {
    #btn-carrito img {
        width: 25px;
    }
    #ocultar-carrito {
        font-size: 12px;
        padding: 5px;
    }
    h1 {
        font-size: 20px;
    }
    .section-carrito {
        margin-right: 6rem;
    }
    #container-all-carrito {
        width: 50%;
        right: 5px;
    }
    #btns-carrito {
        display: flex;
        flex-direction: column;
    }
} 

#vaciar-carrito {    
    padding: 16px;   
    font-size: 14px;
    background-color: var(--red);
    color: var(--white);     
    border: none;
    border-radius: 5px;
}
#vaciar-carrito:hover{
    background-color: var(--grey);
    border:none;
    cursor: pointer;    
}

#realizar-compra {
    padding: 16px;    
    font-size: 18px;    
    background-color: var(--blue);
    color: var(--white);    
    border: none;
    border-radius: 5px;
}
#realizar-compra:hover{
    background-color: var(--green);
    border:none;
    cursor: pointer;    
}

.carrito-item {
    border-bottom: 1px solid var(--black);    
    margin: 10px;
} 

.carrito-item-precio{
    color: var(--blue);
    font-weight: 600;    
} 

.carrito-item div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg);
    padding: 10px;
}

.producto-img-carrito {
    width: 50px;
}

.producto-info {
    flex: 1;
}

.controles-cantidad {
    display: flex;
    align-items: center;
}

.boton-restar,
.boton-sumar,
.boton-eliminar {
    width: 30px;
    height: 30px;
    background-color: var(--bg);
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
    transition-duration: 0.5s;
}

.boton-restar:hover,
.boton-sumar:hover,
.boton-eliminar:hover {
    background-color: var(--grey);
}

.cantidad-productos {
    margin: 0 5px;
    font-size: 16px;    
}

#ocultar-carrito {
    display: none;
    color: var(--grey);
    float: right;
    font-size: 15px;
    font-weight: bold;
}    

/* ----- NAV ----- */
.menu-buttons-container {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 6px;     
    margin-bottom: 20px;
    box-shadow: 4px 5px 5px var(--lightblue);       
}

.menu-button {
    padding: 16px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 14px;
}

.menu-button:hover{
    background-color: var(--lightblue);
    cursor: pointer;    
}

/* ----- SECTION IMAGEN ----- */
.section-home-image {
    display: block;
    height: 350px;    
    margin-left: auto;
    margin-right: auto; 
    background-image: url("images/home-image-small.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;     
}

@media only screen and (min-width: 600px) {
    .section-home-image { 
       background-image: url("/images/home-image.jpg"); 
    }
  }

/* ----- BUSCADOR ----- */
.search {
    display: flex;
    justify-content: center;
    margin-top: 2rem;    
    align-self: center;
}
.search-input {
    padding: 10px;
    padding-left: 40px;
    width: 400px;
    font-size: 14px;  
    border: 1px solid var(--grey);  
    border-radius: 15px;
    background-color: var(--white); 
    background-image: url('/images/navsearch-lupa2.png');
    background-position: 3px;
    background-repeat: no-repeat;
}
.search-input:focus, 
.search-input:active, 
.search-input:hover {
    outline: 1px solid var(--black);
}

/* ----- BOTONES ORDENAR ----- */
#div-ordenar-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 25px;
}
.order-button {
    padding: 16px;  
    border: none;
    border-radius: 15px;
    font-size: 15px;
    background-color: var(--blue);
    color: var(--white);
}

.order-button:hover {    
    opacity: 0.9;
    cursor: pointer;
}

/* ----- MAIN ----- */
.main-container {    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;    
    gap: 20px;
    justify-content: center;
    margin: 50px;
    padding: 20px;   
}

.div-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    text-align: center;    
    background-color: var(--white);         
    border: 2px solid var(--grey);    
    overflow: hidden;
    transition: .3s ease;
}

.div-card:hover {
    box-shadow: 10px 6px 6px var(--grey);
    .producto-imagen {
        width: auto;
        height: 150px;        
    }
}

.producto-imagen {
    width: auto;
    height: 140px;
    margin: 20px 5px 30px;
}

.producto-nombre {
    padding: 5px;
    margin-top: 5px; 
    font-size: 15px;
    overflow: hidden;
    background-color: var(--bg);
}

.producto-importe {
    border-radius: 15px;
    margin: 5px auto 5px; 
    padding: 5px;
    font-family: monospace;
    font-weight: 600;
    background-color: var(--white);
    color: var(--black);
}
.producto-importe p{
    margin: 5px;
}

.btns-orden{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.btn-agregar {
    padding: 16px;
    border: none; 
    border-radius: 5px;
    margin:5px;   
    font-size: 12px;
    font-weight: 500;
    background-color: var(--lightgreen);
    color: var(--white);   
}
.btn-agregar:hover{ 
    border:none;
    background-color: var(--green);
    cursor: pointer; 
    transition: 0.2s ease-in-out;   
}

.btn-modal {
    padding: 16px;
    border: none; 
    border-radius: 5px;
    margin-top:5px;
    background-color: var(--lightblue);
    color: var(--white); 
    font-size: 14px;
    font-weight: 500;
}
.btn-modal:hover{    
    background-color: var(--blue);
    border:none;
    cursor: pointer; 
    transition: 0.2s ease-in-out;   
}

/* ----- FOOTER ----- */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--blue); 
}

.footer-text {
    background-color: var(--blue);  
    color: var(--white); 
}



/* ----- MODAL ----- */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: var(--blackTransp); 
}

.modal-content {
    background-color: var(--white);
    margin: 5% auto; 
    padding: 10px;
    border: 1px solid var(--grey);
    width: 50%; 
    height: 70%;    
} 
@media only screen and (max-width: 600px) {
    .modal-content { 
        width: 65%; 
        height: 85%; 
    }
  }

.modal-header{
    align-content: center;    
}

.modal-close {
    color: var(--grey);
    float: right;
    font-size: 35px;
    font-weight: bold;
} 

.modal-close:hover,
.modal-close:focus {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

.div-modal{
    display: flex;
    flex-direction: column;
    text-align: center; 
} 

.producto-nombre-modal{
    background-color: var(--bg);
}

.producto-img-modal{
    width: auto;
    height: 160px;
    margin: 10px;
}

.producto-importe-modal{
    text-align: center;    
}

.producto-cat{
    font-size: large;
}

.producto-desc{
    padding: 5px;
    margin-top: 5px; 
    font-size: 12px;
    background-color: var(--bg);
}

/* ----- ALERTA ----- */
.alerta {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lightblue);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
}

.alerta .cerrar {
    margin-left: 15px;
    color: var(--white);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
